.content {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
}

.author {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .author {
        font-size: 12px;
    }

    .content {
        font-size: 14px;
    }
}

/* Mobile */
@media only screen and (max-width: 450px) {
    .content {
        font-size: 12px;
    }

    .author {
        font-size: 9px;
    }
}