.clock {
    font-size: 120px;
    font-family: Montserrat;
    font-weight: 600;
}

.dot {
    animation: blink 1s ease infinite;
    -webkit-animation: blink 1s ease infinite;
}

.greeting {
    font-size: 34px;
    font-weight: 500;
    font-family: Montserrat;
    text-transform: uppercase;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    #time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 240px;
    }

    .greeting {
        font-size: 24px;
    }

    .clock {
        font-size: 76px;
    }
}

/* Mobile */
@media only screen and (max-width: 450px) {
    #time {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .greeting {
      font-size: 20px;
    }
  
    .clock {
      font-size: 64px;
    }
  }  